# Ignore artifacts:
build
# Ignore all HTML files:
**/*.html
# Ignore other config files:
**/*.json
.prettierrc
eslint.config.mjs
next.config.ts
next-env.d.ts
postcss.config.mjs
tsconfig.json
vitest.config.mts